<div class="slider"></div>

<object height="81" width="100%" id="mainPlayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
  <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Findeox%2Fremix-of-the-century-1&enable_api=true&object_id=mainPlayer&auto_play=false"></param>
  <param name="allowscriptaccess" value="always"></param>
  <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Findeox%2Fremix-of-the-century-1&enable_api=true&object_id=mainPlayer&auto_play=false" type="application/x-shockwave-flash" width="100%" name="mainPlayer"></embed>
</object>