<h2>Number of weeks charted by Year</h2>
<div class="scatterplot"></div>
<div class="attribution">
	Data from <a href="http://waxy.org/2008/05/the_whitburn_project/">The Whitburn Project</a> and <a href="http://www.echonest.com">The Echonest</a>.
</div>