<header>
	<h1>Remix of the Century <span class="">by <a href="http://www.thudgroup.com/">THUD</a></span></h1>
</header>
<div class="content">
	<div id="panel-home" class="panel active">
		<p>
			Remix of the Century is a project by <a href="http://www.twitter.com/tomhannen">@tomhannen</a>, <a href="http://www.twitter.com/indeox">@indeox</a>, and <a href="http://www.twitter.com/hpettersson">@hpettersson</a> which aims to explore a century (roughly) of Billboard charts using data from the <a href="http://waxy.org/2008/05/the_whitburn_project/">Whitburn Project</a>.
		</p>
		<p>
			<a href="http://www.echonest.com">The Echonest</a> API is used to augument the chart data with per track audio characteristics like <em>tempo</em>, <em>mode</em>, and <em>key</em> as well as some Echonest-specific metrics like <em>Danceability</em> and <em>Energy</em>.
		</p>
		<p>
			The Echonest Remix API is used to create one long beat matched remix of all the tracks we could find audio for.
		</p>
		<p>Remix of the Century was created at the 2012 <a href="http://london.musichackday.org/2012/">Music Hackday</a> in London.
		<h3>Stats</h3>
		<p>Tracks: 366 (we only take the top 3 tracks for each year)</p>
	</div>
	<div id="panel-track" class="panel" style="display:none">
		<h2>
			<span class="track-title"></span>
			<br>by <span class="track-artist"></span>
		</h2>
		<div class="track-summary">
			<div class="track-social">
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="" data-count="none" data-url="http://www.remixofthecentury.com/track/123" data-text="Number 1 1980" data-hashtags="rotc">Tweet</a>
				<!--a href="" class="facebook">Facebook</a-->
			</div>
			<div class="track-meta">
				<!-- track_metadata template -->
			</div>
			<div class="section">
				<table class="track-audio-metrics">
					<tr class="track-metric-energy">
						<th>Energy</th>
						<td class="bar"><span class="animate" style="width: 0"></span></td>
						<td class="value">n/a</td>
					</tr>
					<tr class="track-metric-danceability">
						<th>Danceability</th>
						<td class="bar"><span class="animate" style="width: 0"></span></td>
						<td class="value">n/a</td>
					</tr>
					<tr class="track-metric-liveness">
						<th>Liveness</th>
						<td class="bar"><span class="animate" style="width: 0"></span></td>
						<td class="value">n/a</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="track-buy section">
			<!-- track_buy template -->
		</div>
		<!--div class="track-related section">
			<h3>
				Related tracks
				<a href="" class="button icon spotify align-right"><span>Playlist</span></a>
			</h3>
			<ul>
				<li>
					Track 1 
					<div class="buttons">
						<a href="" class="icon no-text spotify" title="Listen in Spotify"><span>Spotify</span></a>
						<a href="" class="icon no-text tomahawk" title="Listen in Tomahawk"><span>Tomahawk</span></a>
						<a href="" class="icon no-text sevendigital" title="Buy track from 7digital"><span>Buy track</span></a>
					</div>
				</li>
				<li>
					Track 1 
					<div class="buttons">
						<a href="" class="icon no-text sevendigital"><span>Buy track</span></a>
					</div>
				</li>
			</ul>
		</div-->
	</div>
</div>
<footer>
	<div class="logos">
		<a href="http://www.echonest.com" class="echonest"><span>The Echonest</span></a>
		<a href="http://www.soundcloud.com" class="soundcloud"><span>Soundcloud</span></a>
		<a href="http://www.7digital.com" class="sevendigital"><span>7digital</span></a>
	</div>
</footer>