<header>
	<h1>Remix of the Century <span class="">by <a href="http://www.thudgroup.com/">THUD</a></span></h1>
</header>
<div class="content">
	<div id="panel-home" class="panel active">
		<p>
			Remix of the Century is a project by <a href="http://www.twitter.com/tomhannen">@tomhannen</a>, <a href="http://www.twitter.com/indeox">@indeox</a>, and <a href="http://www.twitter.com/hpettersson">@hpettersson</a> which aims to explore a century (roughly) of Billboard charts using data from the <a href="http://waxy.org/2008/05/the_whitburn_project/">Whitburn Project</a>.
		</p>
		<p>
			<a href="http://www.echonest.com">The Echonest</a> API is used to augument the chart data with per track audio characteristics like <em>tempo</em>, <em>mode</em>, and <em>key</em> as well as some Echonest-specific metrics like <em>Danceability</em> and <em>Energy</em>.
		</p>
		<p>
			The Echonest Remix API is used to create one long beat matched remix of all highest ranked tracks for all years we could find audio for. Press play on the audio player to give it a try.
		</p>
		<p>
			Remix of the Century was created at the 2012 <a href="http://london.musichackday.org/2012/">Music Hackday</a> in London.
		</p>
		<div class="section alignright">
			<ul class="socialcount socialcount-small" data-url="http://www.remixofthecentury.com/">
				<li class="facebook">
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.remixofthecentury.com/" title="Share on Facebook"><span class="social-icon icon-facebook"></span><span class="count"></span></a>
				</li>
				<li class="twitter">
					<a href="https://twitter.com/intent/tweet?text=http://www.remixofthecentury.com/" title="Share on Twitter"><span class="social-icon icon-twitter"></span><span class="count"></span></a>
				</li>
				<li class="googleplus">
					<a href="https://plus.google.com/share?url=http://www.remixofthecentury.com/" title="Share on Google Plus"><span class="social-icon icon-googleplus"></span><span class="count"></span></a>
				</li>
			</ul>
		</div>
	</div>
	<div id="panel-track" class="panel" style="display:none">
		<h2>
			<span class="track-title"></span>
			<br>by <span class="track-artist"></span>
		</h2>
		<div class="track-summary">
			<div class="track-social">
				<!-- track_social template -->
			</div>
			<div class="track-meta">
				<!-- track_metadata template -->
			</div>
			<div class="section track-audio-metrics">
				<table>
					<tr class="track-metric-energy">
						<th>Energy</th>
						<td class="bar"><span class="animate" style="width: 0"></span></td>
						<td class="value">n/a</td>
					</tr>
					<tr class="track-metric-danceability">
						<th>Danceability</th>
						<td class="bar"><span class="animate" style="width: 0"></span></td>
						<td class="value">n/a</td>
					</tr>
					<tr class="track-metric-speechiness">
						<th>Speechiness</th>
						<td class="bar"><span class="animate" style="width: 0"></span></td>
						<td class="value">n/a</td>
					</tr>					
					<tr class="track-metric-liveness">
						<th>Liveness</th>
						<td class="bar"><span class="animate" style="width: 0"></span></td>
						<td class="value">n/a</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="track-buy section">
			<!-- track_buy template -->
		</div>
		<!--div class="track-related section">
			<h3>
				Related tracks
				<a href="" class="button icon spotify align-right"><span>Playlist</span></a>
			</h3>
			<ul>
				<li>
					Track 1 
					<div class="buttons">
						<a href="" class="icon no-text spotify" title="Listen in Spotify"><span>Spotify</span></a>
						<a href="" class="icon no-text tomahawk" title="Listen in Tomahawk"><span>Tomahawk</span></a>
						<a href="" class="icon no-text sevendigital" title="Buy track from 7digital"><span>Buy track</span></a>
					</div>
				</li>
				<li>
					Track 1 
					<div class="buttons">
						<a href="" class="icon no-text sevendigital"><span>Buy track</span></a>
					</div>
				</li>
			</ul>
		</div-->
	</div>
	<!--iframe src="https://embed.spotify.com/?uri=" class="spotify-player" width="340" height="80" frameborder="0" allowtransparency="true"></iframe-->
</div>
<footer>
	<div class="logos">
		<a href="http://www.echonest.com" class="echonest"><span>The Echonest</span></a>
		<a href="http://www.soundcloud.com" class="soundcloud"><span>Soundcloud</span></a>
		<a href="http://www.7digital.com" class="sevendigital"><span>7digital</span></a>
	</div>
</footer>