<header>
	<h1>Remix of the Century</h1>
	<span>A <a href="">Music Hackday</a> project by <a href="">THUD</a></span>
</header>
<div class="track">
	<h2>
		<span class="track-name">Track name</span> by <span class="track-artist">Artist</span>
	</h2>
	<p class="track-year">Released 1980</p>
	<div class="track-buy">
		<a href="" class="7digital">Buy track</a>
		<a href="" class="spotify">Listen in Spotify</a>
		<a href="" class="tomahawk">Listen in Tomahawk</a>
	</div>
	<div class="track-social">
		<a href="" class="7digital">Twitter</a>
		<a href="" class="spotify">Facebook</a>
	</div>	
	<div class="track-related">

	</div>
</div>
<footer>
	Powered by <a href="">The Echonest</a>, <a href="Soundcloud">Soundcloud</a>, and <a href="">7digital</a>.<br>
	Data from <a href="http://waxy.org/2008/05/the_whitburn_project/">The Whitburn Project</a>.
</footer>