<header>
	<h1>Remix of the Century</h1>
	<span>A <a href="">Music Hackday</a> project by <a href="">THUD</a></span>
</header>
<div class="track">
	<h2>
		<span class="track-name">Track name</span> by <span class="track-artist">Artist</span>
	</h2>
	<p class="track-year">Released 1980</p>
	<div class="track-buy section">
		<a href="" class="button icon sevendigital"><span>Buy track</span></a>
		<a href="" class="button icon sevendigital"><span>Buy album</span></a>
		<div class="buttons align-right">
			<a href="" class="button icon spotify no-text"><span>Spotify</span></a>
			<a href="" class="button icon tomahawk no-text"><span>Tomahawk</span></a>
		</div>
	</div>
	<!--div class="track-social section">
		<a href="" class="7digital">Twitter</a>
		<a href="" class="spotify">Facebook</a>
	</div-->	
	<div class="track-related section">
		<h3>
			Related tracks
			<a href="" class="button icon spotify align-right"><span>Playlist</span></a>
		</h3>
		<ul>
			<li>
				Track 1 
				<div class="buttons">
					<a href="" class="icon no-text spotify"><span>Spotify</span></a>
					<a href="" class="icon no-text tomahawk"><span>Tomahawk</span></a>
					<a href="" class="icon no-text sevendigital"><span>Buy track</span></a>
				</div>
			</li>
			<li>
				Track 1 
				<div class="buttons">
					<a href="" class="icon no-text sevendigital"><span>Buy track</span></a>
				</div>
			</li>
		</ul>
	</div>
</div>
<footer>
	Powered by <a href="">The Echonest</a>, <a href="Soundcloud">Soundcloud</a>, and <a href="">7digital</a>.<br>
	Data from <a href="http://waxy.org/2008/05/the_whitburn_project/">The Whitburn Project</a>.
</footer>