<h1>Remix of the Century</h1>
<div class="filters">
	<h2>Select parameters</h2>
	<div class="filter-x">
		<label>X:</label>
		<select>
			<option value="year" selected="selected">Year</year>
			<option value="year">Year</year>
		</select>
	</div>
	<div class="filter-y">
		<label>Y:</label>
		<select>
			<option value="year" selected="selected">Year</year>
			<option value="year">Year</year>
		</select>
	</div>
</div>

