<div class="filters">
	<div class="filter filter-y">
		<label>Y-axis</label>
		<select>
			<option value="year" selected="selected">Year</year>
			<option value="no_of_weeks_charted" selected="selected">No of weeks charted</year>
			<option value="duration">Duration</year>
			<option value="key">Key</year>
			<option value="tempo">Tempo</year>
			<option value="liveness">Liveness</year>
			<option value="loudness">Loudness</year>
			<option value="speechiness">Speechiness</year>
			<option value="song_hotttnesss">Hotttnesss</year>
			<option value="danceability">Danceability</year>
			<option value="energy">Energy</year>
		</select>
	</div>
	<div class="filter filter-colour">
		<label>Colour</label>
		<select>
			<option value="key" selected="selected">Key</year>
			<option value="mode">Mode</year>
			<option value="time_signature">Time signature</year>
			<option value="no_of_weeks_charted">No of weeks charted</year>
			<option value="duration">Duration</year>
			<option value="tempo">Tempo</year>
			<option value="liveness">Liveness</year>
			<option value="loudness">Loudness</year>
			<option value="speechiness">Speechiness</year>
			<option value="song_hotttnesss" selected="selected">Hotttnesss</year>
			<option value="danceability">Danceability</year>
			<option value="energy">Energy</year>
		</select>
	</div>
	<div class="filter filter-size">
		<label>Size</label>
		<select>
			<option value="no_of_weeks_charted">No of weeks charted</year>
			<option value="duration" selected="selected">Duration</year>
			<option value="tempo">Tempo</year>
			<option value="liveness">Liveness</year>
			<option value="loudness">Loudness</year>
			<option value="speechiness">Speechiness</year>
			<option value="song_hotttnesss">Hotttnesss</year>
			<option value="danceability">Danceability</year>
			<option value="energy">Energy</year>
			<option value="key">Key</year>
			<option value="mode">Mode</year>
			<option value="time_signature">Time signature</year>
		</select>
	</div>
</div>

