<h1>Remix of the Century</h1>
<div class="filters">
	<div class="filter-x">
		<label>X:</label>
		<select>
			<option value="year" selected="selected">Year</year>
			<option value="no_of_weeks_charted">No of weeks charted</year>
			<option value="song_hotttnesss">Hotttnesss</year>
			<option value="summary.duration">Duration</year>			
			<option value="summary.danceability">Danceability</year>
			<option value="summary.energy">Energy</year>
			<option value="summary.key">Key</year>
			<option value="summary.liveness">Liveness</year>
			<option value="summary.loudness">Loudness</year>
			<option value="summary.mode">Mode</year>
			<option value="summary.speechiness">Speechiness</year>
			<option value="summary.tempo">Tempo</year>
			<option value="summary.time_signature">Time signature</year>
		</select>
	</div>
	<div class="filter-y">
		<label>Y:</label>
		<select>
			<option value="year" selected="selected">Year</year>
			<option value="no_of_weeks_charted" selected="selected">No of weeks charted</year>
			<option value="song_hotttnesss">Hotttnesss</year>
			<option value="summary.duration">Duration</year>			
			<option value="summary.danceability">Danceability</year>
			<option value="summary.energy">Energy</year>
			<option value="summary.key">Key</year>
			<option value="summary.liveness">Liveness</year>
			<option value="summary.loudness">Loudness</year>
			<option value="summary.mode">Mode</year>
			<option value="summary.speechiness">Speechiness</year>
			<option value="summary.tempo">Tempo</year>
			<option value="summary.time_signature">Time signature</year>
		</select>
	</div>
	<div class="filter-colour">
		<label>Colour:</label>
		<select>
			<option value="year">Year</year>
			<option value="no_of_weeks_charted">No of weeks charted</year>
			<option value="song_hotttnesss" selected="selected">Hotttnesss</year>			
			<option value="summary.duration">Duration</year>
			<option value="summary.danceability">Danceability</year>
			<option value="summary.energy">Energy</year>
			<option value="summary.key">Key</year>
			<option value="summary.liveness">Liveness</year>
			<option value="summary.loudness">Loudness</year>
			<option value="summary.mode">Mode</year>
			<option value="summary.speechiness">Speechiness</year>
			<option value="summary.tempo">Tempo</year>
			<option value="summary.time_signature">Time signature</year>
		</select>
	</div>
	<div class="filter-size">
		<label>Size:</label>
		<select>
			<option value="year">Year</year>
			<option value="no_of_weeks_charted">No of weeks charted</year>
			<option value="song_hotttnesss" selected="selected">Hotttnesss</year>			
			<option value="summary.duration" selected="selected">Duration</year>
			<option value="summary.danceability">Danceability</year>
			<option value="summary.energy">Energy</year>
			<option value="summary.key">Key</year>
			<option value="summary.liveness">Liveness</year>
			<option value="summary.loudness">Loudness</year>
			<option value="summary.mode">Mode</year>
			<option value="summary.speechiness">Speechiness</year>
			<option value="summary.tempo">Tempo</year>
			<option value="summary.time_signature">Time signature</year>
		</select>
	</div>
</div>

