<% if (sevendigital_link) { %>
	<a href="<%= sevendigital_link %>" target="external" class="button icon sevendigital"><span>Buy track</span></a>
<% } %>
<div class="buttons align-right">
	<% if (spotify_link) { %>
		<a href="<%= spotify_link %>" target="external" class="button icon spotify no-text" title="Listen in Spotify"><span>Spotify</span></a>
	<% } %>
	<a href="http://toma.hk/search.php?q=<%= encodeURIComponent(artist + ' ' + title) %>" target="external" class="button icon tomahawk no-text" title="Listen in Tomahawk"><span>Tomahawk</span></a>
</div>