body {
  font-family: 'Arbutus Slab', serif;
  font-size:12px;
  margin:0;
  padding:0;
  /*background:#eee url(../images/billie_holiday.png) repeat 0 0;*/
}

/* Layout */
#main {
  position: absolute;
  top: 0;
  right: 350px;
  bottom: 0;
  left: 0;
}

#sidebar {
  /*background:#555 url(../images/otis_redding.png) repeat 0 0;*/
  background:#ccc;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  -webkit-box-shadow: 10px 0px 5px -2px #888 ;
}

#toolbar {
  background:#888;
  height: 50px;
  width:100%;
}
#plot {
  position:absolute;
  top:50px;
  right:0;
  left:0;
  bottom:50px;
}
#player {
  background:#888;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Sidebar panel */
#sidebar h1 {
  margin:0;
  padding:0;
  color:#aaa;
  font-weight: bold;
  padding:10px;
  background:rgba(0,0,0,0.4);
}

/* Toolbar */
#toolbar {
  color:#eee;
  text-align: center;
}
#toolbar h2 {
  margin:0 10px 0 0;
  padding:0;
  color:#999;
  font-size: 16px
}
#toolbar .filters {
  position: absolute;
  top:15px;
  left:10px;
}
#toolbar .filters h2,
#toolbar .filters div {
  display: inline-block;
}
#toolbar .filters label {
  font-size: 12px;
}

/* Plot */
.scatterplot {
  height:100%;
  width:100%;
}
#plot h2 {
  position: absolute;
  width:100%;
  text-align: center;
}
/* SVG */
.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}
.tick {
  stroke: #ccc;
}
.axis.x path {
  stroke: #ccc;
}
.axis.x .tick {
  stroke:none;
}
.dot.active {
  fill: #0f0 !important;
}
.dot {

}

/* Player */
#player .slider {
    margin: 20px 10px;
    width: 85%;
    float: left;
}
#player .soundcloud-container {
    position: absolute;
    top: 0;
    left: -1000px;
}
#player .play-pause {
    width: 40px;
    height: 40px;
    background: transparent url(../images/play.png) no-repeat 0 0;
    margin: 4px;
    float: left;
}
#player.playing .play-pause {
    background: transparent url(../images/pause.png) no-repeat 0 0;
}
#player .year {
    float: right;
    color: orange;
    margin-right: 20px
}